body {
	font-family: 'Montserrat', sans-serif;
}

a{
	color:#331032;
}

h1{
	color:#331032;
}

footer {
	margin: 20px;
}

.navbar-default {
    background-color: #331032;
    border-color: #e7e7e7;
   
}
.navbar-default .navbar-nav>li>a {
    color: #ababab;
    float: left;
}

.navbar-default .navbar-brand {
    float: left;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
}

#logo-position{
	display: inline; 
	float: left;
	width: 50px;
	margin: 10px;
}

#img-avatar {
    border-radius: 50%;
}

img{
	width: 100%;
}

.img-responsive {
	display: block;
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.img-circular {
 
  border-radius: 50%;
 
}
i{
	display: inline;
	padding-right: 5px;
}

#google{
	display: inline;
}
